@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@*  *@
<div class="col-md-6" id="container">
    <address>
        Dr. Carlos Yee Romero<br />
        Delegado Estatal<br />
        <abbr title="Email">E:</abbr>
        carlos.yee@ommbc.org<br />
        <abbr title="Phone">P:</abbr>
        (646)174-4560   Ext 216
    </address>
</div>
<div class="col-md-6" id="container">
    <img class="img-responsive" src="~/img/omm.png" alt="" />
</div>
